
div.logos {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 32rem;
    height: 106px !important;
}

div.Logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 0 1rem;

}

div.Logo > img {
    margin-right: 1rem;
    height: 2rem;
    width: auto;
}

div.logos {
    margin: 0;
}