div.names {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

div.names > * {
    width: calc(100% / 4 - 1rem);
    height: calc(100% / 4 - 3rem);
    font-size: calc(1vw + 0.75rem)
}

