 div.drinks > div {
     width: 18%;
     height: 31%;
    font-size: calc(1vw + 0.75rem);
    margin-right: 1rem;

}
div.drinks > div > * {
    width: 100%;
    height: 100%;
}
button.actionBtn {
    background-color: gray(50%);
}

div.drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

div.drinks button {
    /*width: 9rem;*/

    /*height: 10rem;*/
}

div#AskDrink {
    position: relative;
    height: 100%;
}



