div.scenarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 63vh;

}

div.scenarios > button {
    width: calc(100% / 4 - 2rem);
    height: calc(100% / 5 - 2rem);
    font-size: calc(1vw + 0.75rem);
    margin: 0 1rem;

}