div.FoundNoObject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
}

div.FoundNoObject.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

