div.LookForGuest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
}


div#chart span {
    position: absolute;
    top: calc(50% - 1.8rem);
    font-size: 3rem;
    width: 100%;
    text-align: center;
    align-items: center;
}