div.Step:first-of-type {
    border-top: solid 2px #333333;
}

div.Step {
    border-bottom: solid 2px #333333;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

div.Step.todo {
    opacity: 0.7;
}

div.Step.done {
    text-decoration: underline;
}

div.Step.current {
    color: black;
    font-weight: bold;
}

div.Step.skipped {
    opacity: 0.1;
}

div.Step p, div.Step span {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
    padding: 0 1rem;
    height: 7rem;
}

div.Step p {
    width: 16vw;
}

div.Step span {
    width: 3rem;
    padding-right: 1rem;
}

