div.TimeBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 91vh;
    width: initial;
    padding: 0 !important;

}

div.TimeBoard .ComponentTitle {
    margin-bottom: 3rem !important;
}

div.TimeBoard div#steps {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    overflow-y: scroll;

}


