div.TimeBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 89vh;
    width: initial;
    padding: 0 !important;

}


div.TimeBoard div#steps {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    overflow-y: scroll;

}


