div.ShowVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.ShowVideo > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div.ShowVideo > div > video  {
    width: 70%;
    margin: 1rem 3rem 1rem 1rem; /*left right top bottom*/
}
div.ShowVideo > div > ul  {
    width: 30%;
}