.AskToFollow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AskToFollow > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem;
    height: 58vh;
}

