p, h1, h2, h3, h4, h5, h6, span {
    z-index: 100000;
    /*font-size: large;*/
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}


/*Prevent selection*/
* {
    user-select: none;

}

html, body, div#root, div.App {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}

/*// voir  / bouger */


button {

    background-color: #4fcfff;
    color: white;
}


div.hidden {
    display: none;
}

div.component {
    margin: 1rem;
    background-color: #E0E0E0;
    border-radius: 0.8rem;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.16),0 2px 4px rgba(0,0,0,.23);*/
    box-shadow: 10px 10px 8px -6px rgba(194, 194, 194, 1);
    z-index: 3;

}

div.component.leftPart {
    max-width: 26% !important;
}


button.ok, button.btn-ok {
    background: rgb(81, 156, 81);
    color: white
}

button.ok:active, button.btn-ok:active {
    background: #22ff70;
    color: #1b1b1b
}

button.no, button.btn-no {
    background: #B67373;
    color: white
}

button.no:active, button.btn-no:active {
    background: #ff2f34;
    color: white
}


button.warn {
    background: #b49124;
    color: white
}

div.component.scenarioTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 106px;
}


div.App {
    background-color: #EFF0F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


div.App > div#rightPart {
    display: flex;
    flex-direction: column;
    width: 70% !important;;

}


div#rightPart_Mic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#rightPart_Mic > img.Mic {
    max-height: 20vh;
}

div#rightPart_Mic > p.Mic_speech {
    font-size: 2rem;
}

div#rightPart > div#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 1rem 1rem 0;
    height: 7rem;
}


div#header > div {
    max-height: 106px !important;
    overflow: hidden;
}

div.component > div {
    padding: 1rem;
}

