@import url('https://fonts.googleapis.com/css?family=Roboto');


p, h1, h2, h3, h4, h5, h6, span {
    z-index: 100000;
    /*font-size: large;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
}


/*Prevent selection*/
* {
    user-select: none;
}

html, body, div#root, div.App {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;


}

/*// voir  / bouger */


button {
    background: #626262;
    color: #f5f5f5;

}


div.hidden {
    display: none;
}

div.component {
    margin: 1rem;
    background-color: #E0E0E0;
    border-radius: 0.8rem;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.16),0 2px 4px rgba(0,0,0,.23);*/
    box-shadow: 10px 10px 8px -6px rgba(194, 194, 194, 1);
    z-index: 3;

}

div.component.leftPart {
    width: initial;

}

button.ok, button.btn-ok {
    background: rgb(81, 156, 81);
    color: white
}

button.no, button.btn-no {
    background: #B67373;
    color: white
}

button.warn {
    background: #b49124;
    color: white
}

div.component.scenarioTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}


div.App {
    background-color: #EFF0F1;
    display: flex;
    flex-direction: row;
}


div.App > div#rightPart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}


div#rightPart > div.component {
    height: 100%;
}

div#rightPart > div#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: initial;
    margin: 1rem;
}


div.component > div {
    padding: 1rem;
}

