div.ViewManager {
    width: 100%;
    height: 76vh;

}

.viewTitle {
    text-align: center;
    padding: 1rem 0;
    font-size: calc(1.5rem + 0.25vw);
}

div.component.main {
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
}